@model PhoneBookMVCApp.Models.People

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left:450px">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)



    <div class="form-group">
        <h3 class="col-md-10">Name</h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.perName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.perName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3 class="col-md-10">Surname</h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.perSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.perSurname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3 class="col-md-10">E-mail</h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3 class="col-md-10">Phone Number</h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.perPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.perPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3 class="col-md-10">Phone Number</h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Save" class="btn btn-info" onclick="return confirm('Update Successful')" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "People",new { @class = "btn btn-default" })
</div>
